{% extends "../system/base.html" %}
{% load static %}
<html lang="en">
<body>
{% block content %}
<head>
    <title> Proto</title>
</head>
<div class="row">
    <div class="col-lg-12">
        <div class="map">
            <div>{% include "geomap/common.html" %}</div>
        </div>
    </div>
    <div class="col-lg-12">
            <div class="card mb-1 p-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            {% if Kpps.id %}
                            <iframe name="iframe1" src="kpp/{{Kpps.id}}" width="1000" height="150" scrolling="no">
                            </iframe>
                            {% else %}
                            <iframe name="iframe1" src="kpp/1" width="1000" height="200" align="left">
                            </iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}
</body>

</html>