{% extends "../system/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div style="margin:15px;">
КПП: {{post.name}}<br />
{% if avgttw %}
Время ожидания: {{avgttw}} часов<br />
{% else %}
Время ожидания: Неизвестно<br />
{% endif %}
{% if carcount %}
Кол-во авто: {{carcount}}<br />
{% endif %}
{% if pcount %}
Кол-во людей: {{pcount}}<br />
{% endif %}<br />
Последнее обновление: <br />{% for Reports in report|slice:":1" %} {{Reports.created_date}} {% endfor %}<br />
<a href="/kpp/{{post.id}}" target="_blank">Прямая ссылка на данный КПП</a>
<div style="margin-top:100px;">
    <a href="/">Вернуться на Главную страницу - карту</a>
</div>
</div>
{% endblock %}
</body>
</html>